@model IEnumerable<Neo4j.ViewModels.SearchVM>

<div class="card-body p-0">
    <div class="row">
        @foreach (var user in Model)
        {
            <div class="col-md-6 col-lg-6 mb-3">
                <div class="iq-friendlist-block">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <a asp-controller="User" asp-action="RedirectToProfile" asp-route-id="@user.ID">
                                <img src="@user.ProfileImage" alt="@user.Name" class="img-fluid">
                            </a>
                            <div class="friend-info ms-3">
                                <h5>@user.Name</h5>
                                <p class="mb-0">City: @user.City</p>
                                <p class="mb-0">Followers: @user.FollowersCount</p>
                            </div>
                        </div>
                        <div class="card-header-toolbar d-flex align-items-center">
                            <div class="dropdown" id="friendDropdown_@user.ID">
                                @if (user.Blocked == false)
                                {
                                    <button class="dropdown-toggle btn btn-secondary me-2" id="friendButton_@user.ID" data-bs-toggle="dropdown" aria-expanded="true" type="button">
                                        <i class="ri-check-line me-1 text-white"></i> Friend
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton01">
                                        @if (user.AreCloseFriends == false)
                                        {
                                            <button type="submit" class="dropdown-item" onclick="updateFriendStatus(@user.ID, 'closeFriend')">Close Friend</button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="dropdown-item" onclick="updateFriendStatus(@user.ID, 'removeCloseFriend')">Remove Close Friend</button>
                                        }

                                        @if (user.HasFollowed == true)
                                        {
                                            <button type="submit" class="dropdown-item" onclick="updateFriendStatus(@user.ID, 'unfollow')">Unfollow</button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="dropdown-item" onclick="updateFriendStatus(@user.ID, 'follow')">Follow</button>
                                        }

                                        <button type="submit" class="dropdown-item" onclick="updateFriendStatus(@user.ID, 'unfriend')">Unfriend</button>

                                        <button type="submit" class="dropdown-item" onclick="updateFriendStatus(@user.ID, 'block')">Block</button>
                                    </div>
                                }
                                else
                                {
                                    <button onclick="updateFriendStatus(@user.ID, 'unblock')" class="dropdown-toggle btn btn-secondary me-2" id="friendButton_@user.ID" data-bs-toggle="dropdown" aria-expanded="true" type="button">
                                        <i class="ri-check-line me-1 text-white"></i> Unblock
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function updateFriendStatus(userId, action) {
        $.ajax({
            url: '/Friend/UpdateStatus', 
            type: 'POST',
            data: {
                id: userId,
                action: action
            },
            success: function (response) {
                console.log(response);
                if (action === 'unfriend') {
                    $('#friendDropdown_' + userId).closest('.col-md-6').remove();
                } else {
                    $('#friendButton_' + userId).html(response.updatedButtonHtml);
                    $('#friendButton_' + userId).dropdown(); 
                }
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                alert("Có lỗi xảy ra, vui lòng thử lại.");
            }
        });
    }
</script>