@model Neo4j.ViewModels.DetailAboutVM

<div class="tab-pane fade" id="v-pills-details-tab" role="tabpanel" aria-labelledby="v-pills-details-tab">
    <h4 class="mb-3">About You</h4>
    <p>Hi, I’m @Model.firstName @Model.lastName, I’m @Model.age and I am living @Model.country.</p>
    <h4 class="mt-3 mb-3">Other Name</h4>
    <p>@Model.userName</p>
</div>
